<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "VC3" %></title>

    <!-- Latest compiled and minified JavaScript -->
    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "vcc" %>
    <%= javascript_include_tag "vcc" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 logo">
          <img alt="VC3" src="/images/vc3-logo.png"/>
          <p class="lead">Automatically <em>discover</em>, <em>provision</em>, and
    <em>manage</em> the resources to build virtual clusters&#8212;dynamic
    infrastructures that enable extreme scale scientific computation.</p>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="https://www.bnl.gov/world/">
              <img alt="Brookhaven National Laboratory" src="/images/brookhaven-national-laboratory.png"/>
            </a>
            <img class="separator" src="/images/separator.png"/>
            <a href="https://www.uchicago.edu/">
              <img alt="The University of Chicago" src="/images/university-of-chicago.png"/>
            </a>
            <img class="separator" src="/images/separator.png"/>
            <a href="https://www.nd.edu/">
              <img alt="University of Notre Dame" src="/images/university-of-notre-dame.png"/>
            </a>
            <p class="copyright">
              &copy; 2016 Brookhaven National Laboratory, The University of Chicago, and University of Notre Dame.<br>
              This project is funded by a grant from the US Department of Energy.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
