<% wrap_layout :layout do %>
  <div class="vc3-light-bg">
    <div class="container">
      <div class="row content">
        <div class="col-xs-12">
          <h1 class="h2"><%= current_page.data.title %></h1>
        </div>
      </div>
      <% data.team.team_members.each_slice(3).to_a.each do |row| %>
        <div class="row">
          <% for m in row %>
            <div class="col-sm-4">
              <h2><%= m.team_member_name %></h2>
              <p>
                <img alt="<%= m.team_member_name %>" class="img-responsive" src="<%= m.team_member_image %>" /><br/>
                <em><%= m.team_member_title %></em>
              </p>
              <%= markdown m.team_member_description %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
